/* You can add global styles to this file, and also import other style files */
/*Mixin to set the position of an element*/
/* Mixin to set border and border radius properties */
/* Mixin to set font size and text alignment */
/*Mixin to set background color and font color*/
/* Mixin to set font size and font color*/
/* This mixin sets the background color and padding of an element*/
/* Mixin to set background color and border radius */
/*Mixin to set flex direction and justification*/
/* Mixin that applies the flexbox property and modifies the value of the align property */
/* Mixin to set background color and border radius*/
/* Header and navbar main color */
/* primary navbar section text color*/
/*Background color of the main container for the tab navigation section*/
@font-face {
  font-family: "Roboto Regular";
  src: url("../src/font/Roboto-Regular.ttf") format("truetype");
}
body {
  font-family: "Roboto Regular", sans-serif;
  margin: 0px;
  padding: 0px;
}

.footer {
  /* Style definition for the 'line' class */
  /* Style definition for the 'links' class container */
  /* End of the links container*/
  /* Style for class 'copyright-social-media' */
  /* End of the copyright social media container*/
}
.footer .line {
  border: 1px solid rgba(194, 187, 187, 0.425);
  width: 87%;
  text-align: center;
}
.footer .links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  margin-bottom: 20px;
  /* Styles for internal element classes: 'additional-services', 'about', 'useful-information' and 'quick-links' */
}
.footer .links .additional-services,
.footer .links .about,
.footer .links .useful-information,
.footer .links .quick-links {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  /* Styles for section titles */
  /* Styles for section links */
}
.footer .links .additional-services .additional-services__title,
.footer .links .additional-services .about__title,
.footer .links .additional-services .useful-information__title,
.footer .links .additional-services .quick-links__title,
.footer .links .about .additional-services__title,
.footer .links .about .about__title,
.footer .links .about .useful-information__title,
.footer .links .about .quick-links__title,
.footer .links .useful-information .additional-services__title,
.footer .links .useful-information .about__title,
.footer .links .useful-information .useful-information__title,
.footer .links .useful-information .quick-links__title,
.footer .links .quick-links .additional-services__title,
.footer .links .quick-links .about__title,
.footer .links .quick-links .useful-information__title,
.footer .links .quick-links .quick-links__title {
  color: #ED0707;
  font-size: 15px;
}
.footer .links .additional-services .additional-services__link,
.footer .links .additional-services .about__link,
.footer .links .additional-services .useful-information__link,
.footer .links .additional-services .quick-links__link,
.footer .links .about .additional-services__link,
.footer .links .about .about__link,
.footer .links .about .useful-information__link,
.footer .links .about .quick-links__link,
.footer .links .useful-information .additional-services__link,
.footer .links .useful-information .about__link,
.footer .links .useful-information .useful-information__link,
.footer .links .useful-information .quick-links__link,
.footer .links .quick-links .additional-services__link,
.footer .links .quick-links .about__link,
.footer .links .quick-links .useful-information__link,
.footer .links .quick-links .quick-links__link {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 8px;
  transition: transform 0.3s;
}
.footer .links .additional-services .additional-services__link:hover,
.footer .links .additional-services .about__link:hover,
.footer .links .additional-services .useful-information__link:hover,
.footer .links .additional-services .quick-links__link:hover,
.footer .links .about .additional-services__link:hover,
.footer .links .about .about__link:hover,
.footer .links .about .useful-information__link:hover,
.footer .links .about .quick-links__link:hover,
.footer .links .useful-information .additional-services__link:hover,
.footer .links .useful-information .about__link:hover,
.footer .links .useful-information .useful-information__link:hover,
.footer .links .useful-information .quick-links__link:hover,
.footer .links .quick-links .additional-services__link:hover,
.footer .links .quick-links .about__link:hover,
.footer .links .quick-links .useful-information__link:hover,
.footer .links .quick-links .quick-links__link:hover {
  text-decoration: underline;
  transform: translateX(-5px);
}
.footer .copyright-social-media {
  background-color: #dad9d9;
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: row;
  /* Style for the 'copyright' class */
  /* Style for the 'social-media' class */
}
.footer .copyright-social-media .copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  /* Style for copyright text */
}
.footer .copyright-social-media .copyright .copyright__text {
  font-size: 12px;
}
.footer .copyright-social-media .social-media {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* Style for social media icons */
}
.footer .copyright-social-media .social-media .social-media__icon {
  margin: 5px;
}
.footer .copyright-social-media .social-media .social-media__icon:hover {
  background-color: #ED0707;
}

@media (min-width: 280px) and (max-width: 912px) {
  .footer {
    /* Style for class 'line' on mobile devices */
    /* Style for the 'links' on mobile devices container */
    /* End of the links container on mobile devices*/
    /* Style for copyright social media container on mobile devices */
    /* End of the copyright social media container on mobile devices*/
  }
  .footer .line {
    width: 90%;
  }
  .footer .links {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    margin: 10px;
    /* Style for internal element classes: 'additional-services', 'about', 'useful-information' and 'quick-links' on mobile devices */
  }
  .footer .links .additional-services,
  .footer .links .about,
  .footer .links .useful-information,
  .footer .links .quick-links {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    background-color: #dad9d9;
    margin: 5px;
    width: 100%;
    /* Style for on mobile section titles */
    /* Style for the links of the on mobile sections */
  }
  .footer .links .additional-services .additional-services__title,
  .footer .links .additional-services .about__title,
  .footer .links .additional-services .useful-information__title,
  .footer .links .additional-services .quick-links__title,
  .footer .links .about .additional-services__title,
  .footer .links .about .about__title,
  .footer .links .about .useful-information__title,
  .footer .links .about .quick-links__title,
  .footer .links .useful-information .additional-services__title,
  .footer .links .useful-information .about__title,
  .footer .links .useful-information .useful-information__title,
  .footer .links .useful-information .quick-links__title,
  .footer .links .quick-links .additional-services__title,
  .footer .links .quick-links .about__title,
  .footer .links .quick-links .useful-information__title,
  .footer .links .quick-links .quick-links__title {
    transition: transform 0.3s;
  }
  .footer .links .additional-services .additional-services__title:hover,
  .footer .links .additional-services .about__title:hover,
  .footer .links .additional-services .useful-information__title:hover,
  .footer .links .additional-services .quick-links__title:hover,
  .footer .links .about .additional-services__title:hover,
  .footer .links .about .about__title:hover,
  .footer .links .about .useful-information__title:hover,
  .footer .links .about .quick-links__title:hover,
  .footer .links .useful-information .additional-services__title:hover,
  .footer .links .useful-information .about__title:hover,
  .footer .links .useful-information .useful-information__title:hover,
  .footer .links .useful-information .quick-links__title:hover,
  .footer .links .quick-links .additional-services__title:hover,
  .footer .links .quick-links .about__title:hover,
  .footer .links .quick-links .useful-information__title:hover,
  .footer .links .quick-links .quick-links__title:hover {
    color: black;
    text-decoration: underline;
    transform: translateX(-5px);
  }
  .footer .links .additional-services .additional-services__link,
  .footer .links .additional-services .about__link,
  .footer .links .additional-services .useful-information__link,
  .footer .links .additional-services .quick-links__link,
  .footer .links .about .additional-services__link,
  .footer .links .about .about__link,
  .footer .links .about .useful-information__link,
  .footer .links .about .quick-links__link,
  .footer .links .useful-information .additional-services__link,
  .footer .links .useful-information .about__link,
  .footer .links .useful-information .useful-information__link,
  .footer .links .useful-information .quick-links__link,
  .footer .links .quick-links .additional-services__link,
  .footer .links .quick-links .about__link,
  .footer .links .quick-links .useful-information__link,
  .footer .links .quick-links .quick-links__link {
    display: none;
  }
  .footer .copyright-social-media {
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    /* Style for social media container on mobile devices */
  }
  .footer .copyright-social-media .copyright {
    /* Style for copyright text on mobile devices */
  }
  .footer .copyright-social-media .copyright .copyright__text {
    text-align: center;
  }
  .footer .copyright-social-media .social-media {
    display: none;
  }
}/*# sourceMappingURL=footer.component.css.map */