/* Set the main text color for the navigation bar to white */
$navbar-section-text-primary-color: #FFFFFF;
/* Header and navbar main color */
$header-navbar-main-color: #ED0707;


/* Mixin that applies the flexbox property and modifies the value of the align property */
@mixin flex-align($align){
  display: flex;
  align-items: $align;
}

/* Mixin to set background color and border radius*/
@mixin set-background-color-and-border-radius($background-color, $border-radius){
  background-color: $background-color;
  border-radius: $border-radius;
}

/* General styles for the navigation bar */
.navbar{
  background-color: $header-navbar-main-color;
  height: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr auto;

  /* Styles for the left section of the navigation bar */
  .navbar-left{
    @include flex-align(center);
    justify-content: flex-start;
    // padding: 15px 0px 15px 20px ;
    padding: 15px 0px;

    /* Styles for links within the left section */
    .navbar-left__link{
      margin: 10px;
      text-decoration: none;
      color: $navbar-section-text-primary-color;
      @include flex-align(center);
      white-space: nowrap;

      &:hover{
        @include set-background-color-and-border-radius(rgba(0, 0, 0, 0.39), 10px);
        height: 100%;
      }

      /* Styles for icons within links */
      .navbar-left__icon{
        margin: 5px;
      }
    }
  }

  /* Styles for the right section of the navigation bar */
  .navbar-right{
    @include flex-align(center);
    justify-content: center;

    /* Styles for links within the right section */
    .navbar-right__link{
      text-decoration: none;
      color: $navbar-section-text-primary-color;
      margin: 10px;
      white-space: nowrap;

      &:hover{
        border-bottom: 2px solid #FFFFFF;
        font-weight: 700;
      }
    }
  }

  /* Styles for the right section of icons in the navigation bar */
  .navbar-right-icons{
    @include flex-align(center);
    justify-content: flex-end;

    /* Styles for the icons in the right section */
    .navbar-right__icon{
      margin: 20px;

      &:hover{
        @include set-background-color-and-border-radius(rgba(0, 0, 0, 0.39), 5px);
      }
    }
  }

  /* Do not show the navigation bar icon container on mobile */
  .navbar-mobile-icons{
    display: none;
  }
}/* End of the navegation bar */

@media (min-width: 320px) and (max-width: 425px) {
  /* Styles for the navigation bar on mobile */
  .navbar{
    grid-template-columns: 1fr;
    height: 50px;

    /* Hide sections */
    .navbar-left,
    .navbar-right,
    .navbar-right-icons{
      display: none;
    }

    /* Styles for the icon container in the mobile navigation bar */
    .navbar-mobile-icons{
      @include flex-align(center);
      justify-content: flex-end;

      /* Styles for individual icons on mobile */
      .navbar-mobile__icon{
        margin: 10px;

        &:hover{
          @include set-background-color-and-border-radius(rgba(0, 0, 0, 0.39), 5px);
        }
      }
    }
  }/* End of the navbar section on mobile */
}

