@import '../navbar/navbar.component.scss';

$navegation-tab-color: #dad9d9;

/*Mixin to set the position of an element*/
@mixin set-position-top-and-left($position-type, $top-offset, $left-offset) {
  position: $position-type;
  top: $top-offset;
  left: $left-offset;
}

/* Mixin to set border and border radius properties */
@mixin set-border-and-border-radius($border-style, $border-radius){
  border: $border-style;
  border-radius: $border-radius;
}

/* Mixin to set font size and text alignment */
@mixin set-font-size-and-text-align($font-size,$text-align){
  font-size: $font-size;
  text-align: $text-align;
}

/*Mixin to set background color and font color*/
@mixin set-background-color-and-font-color($background-color,$font-color){
  background-color: $background-color;
  color: $font-color;
}

/* Mixin to set font size and font color*/
@mixin set-font-size-and-font-color($font-size,$font-color){
  font-size: $font-size;
  color: $font-color;
}

/* This mixin sets the background color and padding of an element*/
@mixin set-background-color-and-padding($background-color,$padding){
  background-color: $background-color;
  padding: $padding;
}

/* Mixin to set background color and border radius */
@mixin set-background-color-and-border-radius($background-color,$border-radius){
  background-color: $background-color;
  border-radius: $border-radius;
}

/*Mixin to set flex direction and justification*/
@mixin set-flex-direction-and-justify-content($flex-direction,$justify-content){
  flex-direction: $flex-direction;
  justify-content: $justify-content;
}



/* Style for the main element with class 'main' */
.main{

  /* Style for the promotional section */
  .promotional{
    position: relative;

    /* Style for the arrow icon container */
    .promotional__arrows{
      position: absolute;
      top: 150px;
      @include flex-align(center);
      justify-content: space-between;
      width: 100%;
      z-index: 999;

      /* Style for arrow icons */
      .promotional__icon{
        margin: 20px;

        &:hover{
          @include set-background-color-and-border-radius(rgba(0, 0, 0, 0.623),30px);
        }
      }
    }

    /*Hide the promotional image on mobile*/
    .promotional__image--mobile{
      display: none;
    }

    /* Style for the promotional image */
    .promotional__image{
      width: 100%;
      height: 500px;
      object-fit: cover;
      filter: grayscale(20%);
      -webkit-filter: brightness(80%);
    }

    /* Style for the promotional title */
    .promotional__title{
      @include set-position-top-and-left(absolute, 90px, 100px);
      @include set-font-size-and-font-color(40px, $navbar-section-text-primary-color);
    }

    /* Style for the promotional subtitle */
    .promotional__subtitle{
      @include set-position-top-and-left(absolute, 160px, 100px);
      color: $navbar-section-text-primary-color;
    }

    /* Style for the promotional description */
    .promotional__description{
      @include set-position-top-and-left(absolute, 200px, 100px);
      color: $navbar-section-text-primary-color;
    }

    /* Style for the promotional button */
    .promotional__button{
      @include set-position-top-and-left(absolute, 250px, 100px);
      @include set-border-and-border-radius(none, 5px);
      @include set-background-color-and-font-color( $header-navbar-main-color,$navbar-section-text-primary-color);
      padding: 10px 20px;
      font-family: 'Roboto Regular', sans-serif;;
      font-weight: 700;
      font-size: 15px;

      &:hover{
        background-color: rgba(0, 0, 0, 0.61);
        transition:all .3s ease-in-out;
        border: 1px solid $navbar-section-text-primary-color;
      }
    }

    /* Style for the dot icon container */
    .promotional__dots{
      @include set-position-top-and-left(absolute, 280px, 50%);
      @include set-border-and-border-radius(1px solid $navbar-section-text-primary-color, 30px);
      transform: translateX(-50%);
      @include flex-align(center);
      justify-content: center;
    }
  }/* End of promotional section */

  /*Styles for tab navigation*/
  .tab-navigation{
    @include flex-align(center);
    @include set-position-top-and-left(absolute, 400px, 20px);

    /* Styles for tab navigation links*/
    .tab-navigation__link{
      @include flex-align(center);
      text-decoration: none;
      @include set-background-color-and-font-color($navegation-tab-color, black);
      font-weight: 700;
      padding: 10px 20px;
      margin: 2px;

      &:hover{
        @include set-background-color-and-font-color(black,$navbar-section-text-primary-color);
      }
    }

    /* Special styles for the "Book your flight" navigation link*/
    .tab-navigation__link--book-flight{
      @include set-background-color-and-font-color( $navbar-section-text-primary-color,$header-navbar-main-color);
      text-decoration: underline;
      height: 25px;
    }
  }/* End of tab navigation*/

  /* Styles for the flight search section */
  .flight-search{
    /* Styles for search options */
    .flight-search__options{
      @include flex-align(center);
      justify-content: flex-start;
      width: 95%;
      @include set-position-top-and-left(absolute, 445px,22px);
      cursor: pointer;
      @include set-background-color-and-padding($navbar-section-text-primary-color,20px 0px 20px 20px);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;


      /* Styles for the checkbox section */
      .flight-search__checkbox{
        margin-left: 20px;
        margin-right: 20px;
        @include flex-align(center);

          /* Styles for the checkbox text */
        .flight-search__text--checkbox{
          margin-left: 5px;
        }
      }

      /* Styles for the links section */
      .flight-search__links{
        @include flex-align(center);
        gap: 20px;

        /* Styles for individual links */
        .flight-search__link{
          text-decoration: none;
          font-weight: 700;
          @include set-font-size-and-font-color(15px, black);
          @include flex-align(center);

          /* Styles for the link icon */
          .flight-search__icon{
            margin: 5px;
          }
        }
      }
    }

    /* Styles for the questions and destination container*/
    .flight-search-questions-destination{
      grid-template-rows: repeat(2, 1fr);

      /* Styles for the question section */
      .flight-search__questions{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        // justify-content: space-between;
        width: 95%;
        @include set-position-top-and-left(absolute, 490px,22px);
        @include set-background-color-and-padding($navbar-section-text-primary-color,15px 10px);
        cursor: pointer;

        /* Styles for individual questions */
        .flight-search__question{
          font-size: 25px;
          font-weight: 700;
        }

      }

      /* Styles for the main destination container */
      .flight-search__destination{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        @include set-background-color-and-padding($navbar-section-text-primary-color,15px 10px);
        @include set-position-top-and-left(absolute, 543px, 22px);
        width: 95%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        /* Origin and destination section */
        .flight-search__destination-from-to{
          @include flex-align(center);

          /* Styles for the origin and destination input fields */
          .flight-search__input--from-to{
            @include flex-align(center);
            width: 100px;
            height: 20px;
            border: none;
            border-bottom: 2px solid black;
            font-family: 'Roboto Regular', sans-serif;;
            font-size: 20px;
            padding-bottom: 5px;
          }

          /* Styles for icons */
          .flight-search__icon{
            margin: 5px;
          }

          .flight-search__icon--arrows{
            margin-left: 15px;
            margin-right: 15px;
          }
        }

        /* Departure and return section */
        .flight-search__destination-departure-comeback{
          @include flex-align(center);
          /* Styles for the departure and return field */
          .flight-search__input--departure-comeback{
            width: 100px;
            height: 20px;
            @include flex-align(center);
            font-family: 'Roboto Regular', sans-serif;;
            font-size: 20px;
            padding-bottom: 5px;
            border: none;
            border-bottom: 2px solid black;
          }

          /* Styles for icons */
          .flight-search__icon{
            margin: 5px;
          }
        }

        /* Passenger section */
        .flight-search__destination-passengers{
          @include flex-align(center);

          /* Styles for passenger text */
          .flight-search__text--passenger{
            margin-right: 5px;
          }

          /* Styles for the passenger entry field */
          .flight-search__input--passenger{
            width: 100px;
            height: 20px;
            @include flex-align(center);
            font-family: 'Roboto Regular', sans-serif;;
            font-size: 20px;
            padding-bottom: 5px;
            border: none;
            border-bottom: 2px solid black;
          }

          /* Styles for icons */
          .flight-search__icon{
            margin-left: 5px;
          }

          /* Styles for the flight search button */
          .flight-search__button{
            @include flex-align(center);
            justify-content: center;
            font-family: 'Roboto Regular', sans-serif;;
            @include set-font-size-and-font-color(15px,$navbar-section-text-primary-color);
            @include set-border-and-border-radius(none, 5px);
            @include set-background-color-and-padding($header-navbar-main-color,5px 10px);
            font-weight: 700;
            margin-left: 10px;

            /* Styles for the button's hover state */
            &:hover{
              background-color: rgba(0, 0, 0, 0.61);
              transition:all .3s ease-in-out;
            }
          }
        }
      }

    }/*End of flight search section*/
  }

  /* Styles for the flight search mobile section  */
  .flight-search-mobile{
    display: none;
  }/*End of  flight search mobile section*/

  /* Styles for the flight information block */
  .flight-info{
    margin-top: 80px;
    @include flex-align(center);
    @include set-flex-direction-and-justify-content(column, center);

    /* Styles for the flight title */
    .flight-info__title{

      /* Styles for the link in the title */
      .flight-info__link{
        color: black;
      }
    }
  }/*End of flight info section*/

  /* Main container for flight cards */
  .flight-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    margin: 10px;

    /* Styles of each flight card */
    .flight-card {
      @include flex-align(center);
      @include set-flex-direction-and-justify-content(column, center);
      position: relative;
      @include set-border-and-border-radius(1px solid #ccc, 5px);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;
      cursor: pointer;

      &:hover{
        transform: translateY(-5px);
      }

      /* Flight card image */
      .flight-card__image {
        width: 100%;
        height: auto;
        border-radius: 5px;
        filter: grayscale(5%);
        -webkit-filter: brightness(90%);
      }

      /* Text "Flights to" */
      .flight-card__text--flight{
        @include set-position-top-and-left(absolute, 70px, 10px);
        color: $navbar-section-text-primary-color;
        font-weight: 700;
      }

      /* Flight card destination */
      .flight-card__destination{
        @include set-position-top-and-left(absolute, 100px, 10px);
        color: $navbar-section-text-primary-color;
      }

      /* Text "By way from" */
      .flight-card__text--journey{
        padding-left: 10px;
      }

      /* Price of the flight card */
      .flight-card__price{
        padding-left: 10px;
        @include flex-align(center);

        /* Flight card price icon */
        .flight-card__price--icon{
          margin-left: 20px;
        }
      }
    }
  }/*End of flight cards section*/

  /*Styles for the container that contains the button*/
  .more-destinations{
    @include flex-align(center);
    justify-content: center;
    margin-top: 30px;

    // Styles for the "more destinations" button
    .more-destinations__button{
      font-size: 15px;
      @include set-border-and-border-radius(none, 5px);
      @include set-background-color-and-padding($header-navbar-main-color,10px 40px);
      font-weight: 700;
      color: $navbar-section-text-primary-color;
      font-family: 'Roboto Regular', sans-serif; ;

      &:hover{
        background-color: rgba(0, 0, 0, 0.61);
        transition:all .3s ease-in-out;
      }
    }
  }/*End of more destinations section*/

  /*Section styles everything you need to know*/
  .all-you-need-to-know{
    background-color: $navegation-tab-color;
    @include flex-align(center);
    @include set-flex-direction-and-justify-content(column, center);
    margin-top: 20px;
  }/*End of all you need to know section*/

  /* Styles for the service cards section */
  .service-cards{
    @include flex-align(center);
    @include set-background-color-and-padding($navegation-tab-color,20px);
    @include set-flex-direction-and-justify-content(row, space-around);

    /* Styles for each service card */
    .service-card{
      @include set-background-color-and-border-radius($navbar-section-text-primary-color, 5px);
      width: 300px;
      @include set-border-and-border-radius(1px solid #ccc, 5px);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;
      cursor: pointer;

      &:hover{
        transform: translateY(-5px);
      }

      /* Styles for the card image */
      .service-card__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      /* Styles for the card title */
      .service-card__title {
        margin: 10px 10px;
      }

      /* Styles for the card text */
      .service-card__text {
        margin: 5px 10px;
      }

      /* Styles for the "Know More" text on the card */
      .service-card__text--know-more {
        font-size: 14px;
        margin-top: 10px;
        @include flex-align(center);
        cursor: pointer;
        margin: 30px 10px;
        font-weight: 700;

        &:hover{
          text-decoration: underline;
        }

        /* Styles for the "Know More" text icon */
        .service-card__icon {
          margin-left: 5px;
        }
      }

    }
  }/*End of service cards section*/

  /* Styles for the avianca section */
  .avianca{
    @include flex-align(center);
    @include set-flex-direction-and-justify-content(column, center);
  }/*End of avianca section*/

  /* Main nex experiences card container */
  .new-experiences-cards{
    display: flex;
    justify-content: space-around;
    padding: 20px;

    /* Styles for each individual card */
    .new-experiences-card{
      width: 300px;
      height: 400px;
      @include set-border-and-border-radius(1px solid #ccc, 5px);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;
      @include flex-align(flex-start);
      flex-direction: column;

      cursor: pointer;
      transition: transform 0.3s ease;

      &:hover{
        transform: translateY(-5px);
      }

      /* Styles for the card image */
      .new-experiences-card__image {
        width: 100%;
        height: 50%;
        object-fit: cover;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      /* Styles for the card title */
      .new-experiences-card__title {
        margin: 10px 10px;
      }

      /* Styles for the card text */
      .new-experiences-card__text {
        margin: 10px 10px;
      }

      /* Styles for the card link */
      .new-experiences-card__text--apply {
        margin: 10px 10px;
        font-weight: bold;
        @include flex-align(center);

        &:hover{
          text-decoration: underline;
        }

        /* Styles for the icon inside the link */
        .new-experiences-card__icon {
          margin-left: 5px;
        }
      }
    }
  }/*End of nex experiences card section*/

}/* End of main section */

@media (min-width: 280px) and (max-width: 912px){
  .main{
    /* Styles for the promotional section on mobile */
    .promotional{
      position: relative;

      /* Hide the following elements on mobile */
      .promotional__arrows,
      .promotional__image,
      .promotional__description
      {
        display: none;
      }

      /* Styles for the promotional image on mobile*/
      .promotional__image--mobile{
        display: block;
        width: 100%;
        height: 400px;
        object-fit: cover;
        filter: grayscale(30%);
        -webkit-filter: brightness(80%);
      }

      /* Styles for the promotional title on mobile */
      .promotional__title{
        @include set-font-size-and-text-align(25px, center);
        @include set-position-top-and-left(absolute, 40px, 50%);
        transform: translate(-50%, -50%);
      }

      /* Styles for the promotional subtitle on mobile */
      .promotional__subtitle{
        @include set-position-top-and-left(absolute, 150px, 50%);
        @include set-font-size-and-text-align(20px, center);
        transform: translate(-50%, -50%);
      }

      /* Styles for the promotional button on mobile */
      .promotional__button{
        @include set-position-top-and-left(absolute, 250px, 50%);
        transform: translate(-50%, -50%);
      }

      /* Styles for the dot icon container on mobile */
      .promotional__dots{
        @include set-border-and-border-radius(none, 0px);

        /* Styles for the dot icon on mobile */
        .promotional__icon{
          stroke: #FFFFFF;
          width: 40px;
          height: 40px;
        }
      }

    }/*End of the mobile promotional section */

    /* Styles for tab navigation section on mobile */
    .tab-navigation{
      display: none;
    }/*End of the mobile tab navigation section*/

    /* Styles for flight search section on mobile */
    .flight-search{
      display: none;
    }/*End of the mobile flight search section*/

    /* Styles for the flight search on mobile devices */
    .flight-search-mobile{
      display: block;
      @include set-background-color-and-border-radius($navbar-section-text-primary-color, 10px);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
      // box-shadow: 0px 5px 2px 2px $navegation-tab-color;
      @include set-position-top-and-left(absolute, 370px, 10px);
      right: 10px;
      z-index: 2;

      /* Styles for the reservation area on mobile */
      .flight-search-mobile__booking{
        @include flex-align(center);
        justify-content: center;
        font-size: 15px;
        padding-bottom: 10px;
        padding-top: 10px;

        /* Styles for the reservation link on mobile */
        .flight-search-mobile__booking-link{
          text-decoration: none;
          color: $header-navbar-main-color;
          font-weight: 700;
          @include flex-align(center);

          /* Styles for the reservation icon on mobile */
          .flight-search-mobile__booking-icon{
            margin-left: 5px;
          }
        }
      }

      /* Styles for the checkbox container on mobile */
      .flight-search-mobile__checkbox{
        @include flex-align(center);
        justify-content: center;
        padding-bottom: 10px;

        /* Styles for checkbox text on mobile */
        .flight-search-mobile__checkbox-text{
          padding-right: 10px;
        }
      }

      /* Styles for the lookup table container on mobile */
      .flight-search-mobile__table{
        margin-bottom: 10px;
        position: relative;
        display: flex;

        /* Styles for the table on mobile */
        .flight-search-mobile__table-table{
          text-align: center;
          width: 100%;
          border-collapse: collapse;
          @include set-background-color-and-border-radius($navegation-tab-color, 5px);
          margin: 5px;

          /* Styles for table rows on mobile */
          tr{
            display: flex;
            justify-content: space-between;
            padding: 5px;

            /* Styles for table cells on mobile */
            .flight-search-mobile__table-cells{
              flex: 1;
              text-align: center;
              vertical-align: middle;
              padding: 5px;
              border: 1px solid rgba(161, 159, 159, 0.363);

            }
          }
        }

        /* Styles for the table icon on mobile */
        .flight-search-mobile__table-icon{

          /* Styles for the SVG icon on mobile */
          .flight-search-mobile__table-icon-svg{
            @include set-position-top-and-left(absolute, 25px, 50%);
            transform: translate(-50%, -50%);
          }
        }
      }

      /* Styles for the promotional code on mobile */
      .flight-search-mobile__promotional-code{
        @include flex-align(center);
        justify-content: center;

        /* Styles for the promo code link on mobile */
        .flight-search-mobile__promotional-code-link{
          text-decoration: none;
          @include flex-align(center);
          color: black;
          font-weight: 700;
          padding-bottom: 15px;

          &:hover{
            text-decoration: underline;
          }
        }
      }

      /* Styles for the search button container on mobile */
      .flight-search-mobile__search{
        @include flex-align(center);
        justify-content: center;
        padding-bottom: 10px;

        /* Styles for the search button on mobile */
        .flight-search-mobile__search-button{
          @include set-background-color-and-padding($header-navbar-main-color, 10px 20px);
          @include set-border-and-border-radius(none, 5px);
          font-weight: 700;
          color: $navbar-section-text-primary-color;
          font-family: 'Roboto Regular', sans-serif;;

          &:hover{
            transition:all .3s ease-in-out;
            background-color: rgba(0, 0, 0, 0.877);
          }
        }
      }

       /* Styles for the navigation menu on mobile */
      .flight-search-mobile__menu{
        @include flex-align(center);
        @include set-flex-direction-and-justify-content(column, center);

        /* Styles for navigation menu links on mobile*/
        .flight-search-mobile__menu-link{
          padding-bottom: 10px;
          text-decoration: none;
          font-weight: 700;
          color: black;
        }

      }

      /* Styles for the container for tab navigation on mobile */
      .flight-search-mobile__tab-navigation{
        @include flex-align(center);
        @include set-flex-direction-and-justify-content(column, center);
        margin: 10px 10px 0px 10px;

        /* Styles for tab navigation links on mobile */
        .flight-search-mobile__tab-navigation-link{
          @include set-background-color-and-padding( $navegation-tab-color, 10px);
          color: black;
          font-weight: 700;
          text-decoration: none;
          @include flex-align(center);
          justify-content: space-between;
          margin: 5px;
          width: 100%;

          &:hover{
            background-color: #dad9d998;
          }

          /* Styles for the tab navigation icon on mobile */
          .flight-search-mobile__tab-navigation-icon{
            margin-left: 5px;
          }
        }
      }
    }/* End of flight search on mobile devices */

    /* Styles for the flight info on mobile devices */
    .flight-info{
      margin-top: 520px;

      /* Styles for the flight information title on mobile */
      .flight-info__title{
        text-align: center;
      }

      /* Styles for the title description on mobile */
      .flight-info__description{
        text-align: center;
      }
    }/* End of flight info on mobile devices */

    /* Styles for the flight cards on mobile devices */
    .flight-cards {
      display: grid;
      grid-template-columns: 1fr;
      margin: 5px;

    }/* End of flight cards on mobile devices */

    /*Section styles everything you need to know on mobile*/
    .all-you-need-to-know{
      /* Title styles on mobile*/
      .all-you-need-to-know__title{
        text-align: center;
      }
      /*Paragraph styles on mobile */
      .all-you-need-to-know__description{
        text-align: center;
      }
    }/*End of the section of everything you need to know about the mobile*/

    /* Styles for the service card section on mobile */
    .service-cards{
      gap: 20px;
      @include set-flex-direction-and-justify-content(column, center);

      /* Styles for each service card on mobile */
      .service-card{
        height: 100%;
        width: 100%;
      }
    }/* End of service cards on mobile devices */

    /* Styles for the avianca section on mobile */
    .avianca{
      /* Styles for the title and text of the Avianca section on mobile devices*/
      .avianca__title,
      .avianca__text{
        text-align: center;
      }
    }/* End of avianca on mobile devices */

    /* Main card container on mobile */
    .new-experiences-cards{
      flex-direction: column;
      padding: 0px;
      margin: 10px;

      /* Styles for each individual card on mobile */
      .new-experiences-card{
        width: 100%;
        margin: 20px 0px;
        height: 100%;
      }
    }/* End of new experiences cards on mobile devices */
  }
}
