/* Header and navbar main color */
$header-navbar-main-color: #ED0707;
/* primary navbar section text color*/
$navbar-section-text-primary-color: #FFFFFF;
/*Background color of the main container for the tab navigation section*/
$navegation-tab-color: #dad9d9;
